# node modules
node_modules

# allure results
allure-results

# allure-report
allure-report

# folder where TS compiles puts files
built

# compiled TypeScript files
*.js.map
*.js

# idea
.idea/workspace.xml

# built
built